@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
}

body{
    min-height: 100vh;
    width: 100%;
    -webkit-font-smoothing: antialiased;
}

.sidebar{
    position: fixed;
    height: 100%;
    width: 240px;
    background: green;
    transition:all 0.5s ease;
}


.sidebar.active{
    width: 60px;
}

.sidebar .logo-details{
    height: 80px;
    width:  100%;
    display: flex;
    align-items: center;
}


.sidebar .logo-details i{
    font-size: 28px;
    font-weight: 500;
    color:transparent;
    min-width: 60px;
    text-align: center;

}
.sidebar .logo-details .logo_name{
    font-size: 20px;
    font-weight: 500;
    color: black;
}

.sidebar .nav-links{
    margin-top: 16px;
}

.sidebar .nav-links li{
    height: 50px;
    width: 100%;
    list-style: none;
}

.sidebar .nav-links li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
}

.sidebar .nav-links li a:hover{
    background: lightgreen;
}

.sidebar .nav-links li a i{
   /* background: whitesmoke;*/
    min-width: 60px;
    text-align: center;
    color: #fff;
    font-size: 18px;
}

.sidebar .nav-links li a .link_name{
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
}
/* Home-section css */
.home-section{
    background: #f5f5f5;
    position: relative;
    min-height: 100vh;
    width: calc(100% - 240px);
    left: 240px;
    transition: all 0.5s ease;
}

.sidebar.active ~ .home-section{
    width: calc(100% - 60px);
    left: 60px;
}


.home-section nav{
    position: fixed;
    width: calc(100% - 24px);
    left: 240px;
    height: 80px;
    background: #fff;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.5s ease;
    z-index: 100;
}

.sidebar.active ~ .home-section nav{
    width: calc(100% - 60px);
    left: 60px;
}

.home-section nav .sidebar-button{
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
}

.home-section nav .sidebar-button i{
    font-size: 35px;
    margin-right: 10px;
}



.home-section nav .profile-details{
    display: flex;
    align-items: center;
    height: 50px;
    min-width: 190px;
    background: #f5f6fa;
    border: 2px solid #efeef1;
    border-radius: 6px;
    padding: 0 15px 0 2px;
}

nav .profile-details img{
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 6px;
}

nav .profile-details .admin_name{
    font-size: 15px;
    font-weight: 500;
    color: #333;
    margin: 0 10px;
    white-space: norwap;
}

nav .profile-details i{
    color: #333;
    font-size: 25px;
}




/*Responsive media query */
@media (max-width: 1316px) {
    .sidebar{
        width: 60px;
    }
    .sidebar.active{
        width: 220px;
    }
    .home-section{
        width: calc(100% - 60px);
        left: 60px; 
    }
    .sidebar.active ~ .home-section{
        width: calc(100% - 220px);
        left: 220px; 
    }
    .home-section nav{
        width: calc(100% - 60px);
        left: 60px;
    }
    .sidebar.active ~ .home-section nav{
        width: calc(100% - 220px);
        left: 220px;
    }
}

@media (max-width: 1078px) {
    .home-section .interns-boxes {
        flex-direction: column;
    }
    .home-section .interns-boxes .box{
        margin-bottom: 20px;
        width: 100%;
        overflow-x: scroll;
    }
    .home-section .interns-boxes .workshops-intern{
        margin-left: 0;
    }
}
@media (max-width: 1018px) {
    .home-section .overview-boxes .box{
        width: calc(100% / 2 - 15px);
        margin-bottom: 15px;
    }
}
@media (max-width: 648px) {
    .home-section nav .sidebar-button .dashboard,
     nav .profile-details .admin_name,
     nav .profile-details i{
        display: none;
    }
    .home-section nav .profile-details{
        min-width: 50px;
        height:  50px;
    }
    .home-section .overview-boxes .box{
        width: 100%;
        margin-bottom: 15px;
    }
    .home-section .interns-boxes .interns-details{
        width: 590px;
    }
}