{% load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Add-attachement</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="{% static 'css/Card.css'%}" />
  </head>
  <body>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4 card mt-5">
            <h4 class="text-center">UPDATE PROFILE</h4>

            <form id="editform" class="flex flex-col" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="form-group" style="padding: 5px">
                <input
                  type="text"
                  name="name"
                  class="form-control"
                  placeholder="name"
                />
              </div>
              <div class="form-group" style="padding: 5px">
                <input
                  type="text"
                  name="course"
                  class="form-control"
                  placeholder="course"
                />
              </div>
              <div class="form-group" style="padding: 5px">
                <input
                  type="number"
                  name="year"
                  class="form-control"
                  placeholder="year"
                />
              </div>
              <div class="form-group" style="padding: 5px">
                <input
                  type="text"
                  name="admission_no"
                  class="form-control"
                  placeholder="admission no"
                />
              </div>
              <div class="form-group" style="padding: 5px">
                <input
                  type="file"
                  accept="image/*"
                  name="pic"
                  class="form-control"
                  style="padding: 20px"
                />
              </div>
              <button
                class="btn btn-success btn-sm"
                type="submit"
                style="
                  display: block;
                  margin-left: auto;
                  margin-right: auto;
                  margin-top: 17px;
                  width: 31%;
                "
              >
                Update
              </button>
            </form>
          </div>
          <div class="col-md-4"></div>
        </div>
      </div>
    </section>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <!-- Popper.JS -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
      integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
      crossorigin="anonymous"
    ></script>
    <!-- Bootstrap JS -->
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
      integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript">
      $(document).ready(function () {});
    </script>
  </body>
</html>
