@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
  font-family: "Poppins", sans-serif;
  background: #fafafa;
  display: grid;
  grid-template-columns: auto auto;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}
.wrapper {
  display: flex;
  align-items: stretch;
  justify-content: center;
  width: auto;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
  background: #3c7c46;
  color: #fff;
  transition: all 0.3s;
}

#sidebar.active {
  margin-left: -350px;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #3c7c46;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #3c7c46;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}
#sidebar ul li a:hover {
  color: #3c7c46;
  background: #fff;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
  background: #3c7c46;
}
ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #3c7c46;
}

.dropdown-menu a:hover {
  color: #3c7c46;
  background-color: #d6f0e0;
}

#profile-pic {
  margin: 0;
  position: relative;
  top: 20%;
  left: 20%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#back-to-top {
  position: fixed;
  right: 50px;
  bottom: 50px;
  background-color: #a6ec6d;
  border-radius: 100px;
  color: white;
}

.my-custom-scrollbar {
  position: relative;
  height: 300px;
  overflow-y: scroll;
}

.table-wrapper-scroll-y {
  display: block;
}

#comment:focus {
  outline: none !important;
  border: 1px solid #a6ec6d;
  /* box-shadow: 0 0 10px #3c7c46; */
}
@media (max-width: 700px) {
  #sidebar {
    margin-left: -350px;
  }
  #sidebar.active {
    margin-left: 0;
  }
}

.react-daterange-picker__wrapper{
  border-radius: 45px;
  box-shadow: 0 0 10px #3c7c46;
  
}